.login-form {
  /* max-width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
}

.form-group {
  margin-bottom: 15px;
}

.form-group .MuiFormControl-root {
  width: 100%;
}

.form-group .MuiButton-root {
  margin-top: 15px;
}

.rpv-toolbar__right > div:last-child {
  display: none;
}

.link {
  text-decoration: none;
}